body::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 10px;
}

body::-webkit-scrollbar {
        width: 5px;
        background-color: #ccc;
} 

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
    font-family: 'Crimson Text', serif;
    font-weight: 400;
    color: #333333;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: 600;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 10px;
    z-index: 3;   
}

.header {
    background: url(../img/homepage.jpg) 50% no-repeat fixed;
    height: 100vh;
    background-size: 100vw;
    display: flex;
    align-items: center;
}
.header:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}
.header__paragraph {
    max-width: 50%;
    color: #fff;
    font-size: 20px;
    line-height: 2.5rem;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 3fr;
    /* background-color:  #1B1B1B; */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4  ;
}

.navigation__span {
    display: flex;
    margin: 0 40px;
}

.navigation__span:last-child {
    justify-content: end;   
}

.navigation__link {
    color: #fff;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    padding: 10px 20px;
}

.logo {
    font-family: 'Caveat', cursive;
    color:#fff;
    font-size: 25px;
    padding: 10px 20px;
}

.what-is {
    background-color: #F6F6F6 ;
    font-size: 18px;
}
.what-is__image {
    max-width: 33%;
    float: left;
    margin: 20px;
}
.section-header {
    text-align: center;
    margin: 20px 0;
}

.benefits {
    font-size: 18px;
}
.benefits__image {
    float: right;
    max-width: 33%;
    margin: 20px;
}
.how-to {
    background-color: #F6F6F6;
    font-size: 18px;
}
.how-to__image {
    float: left;
    max-width: 33%;
    margin: 20px;
}
.footer {
    background-color: #283448;
}

.black {
    background-color:  #1B1B1B;
}